<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Persona Data</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='public/style.css') }}">
</head>
<body class="bg-blue-200 bg-fixed flex flex-col min-h-screen justify-between">
<div id="error messages" class="place-content-center">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="py-2 px-2 my-2 bg-red-300 text-red-800 rounded border border-red-600 animate-pulse flex justify-between">
					<div>
						{{ message }}
					</div>

					<div id="x_button" class="inline items-end">
						<a href="{{ url_for('index') }}">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x"
								 width="30"
								 height="30"
								 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
								 stroke-linecap="round"
								 stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<rect x="4" y="4" width="16" height="16" rx="2"/>
								<path d="M10 10l4 4m0 -4l-4 4"/>
							</svg>
						</a>

					</div>

				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>


<div id="main content container" class="flex-row  md:place-content-center">

	<div id="layout" class="  flex flex-col">

		<div id="title" class=" p-4 col-span-2 flex-row flex rounded-md ">
			<h1 class="semi-bold justify-start font-serif text-3xl md:text-5xl {{ text_color }}">
				Forgot Password
			</h1>
			<h3 class="py-6 px-6 text-black font-serif"> Input your new log in credentials</h3>
			<div class="inline">
				<!--				<img src="static/kanye_donda.jpeg" class="filter grayscale rounded"/>-->

				<!--				<img src="static/kanye_float.jpeg" width="311" height="400" class="filter grayscale rounded"/>-->

			</div>

		</div>


		<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2 flex flex-col">

			<form id="resetPassword" action="{{ url_for('resetPassword') }}" method="post"></form>

			<div class="mb-2">
				<label class="block text-grey-darker text-sm font-bold mb-2" for="username">
					Username
				</label>
				<input name="username" form="resetPassword"
					   class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
					   type="text" placeholder="Username">
			</div>
			<div class="mb-2">
				<label class="block text-grey-darker text-sm font-bold mb-2" for="password">
					Password
				</label>
				<input form="resetPassword"
					   class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
					   name="password" type="password" placeholder="******************">

			</div>
			<div class="flex items-center justify-between">
				<input form="resetPassword"
					   class="bg-red-400 hover:bg-red-600  text-black font-bold py-2 px-4 rounded"
					   type="submit" value="Reset Password">
			</div>
		</div>


</body>
</html>