<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Persona Data</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='public/style.css') }}">
</head>
<body class="bg-blue-200 bg-fixed flex flex-col min-h-screen justify-between">
<div id="error messages" class="place-content-center">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="py-2 px-2 my-2 bg-red-300 text-red-800 rounded border border-red-600 animate-pulse flex justify-between">
					<div>
						{{ message }}
					</div>

					<div id="x_button" class="inline items-end">
						<a href="{{ url_for('index') }}">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x"
								 width="30"
								 height="30"
								 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
								 stroke-linecap="round"
								 stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<rect x="4" y="4" width="16" height="16" rx="2"/>
								<path d="M10 10l4 4m0 -4l-4 4"/>
							</svg>
						</a>

					</div>

				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>


<div id="main content container" class="flex-row place-content-start md:place-content-center">

	<div id="layout" class="place-items-center  flex flex-col">

		<div id="title" class=" p-4 col-span-2 flex-row flex rounded-md ">
			<h1 class="semi-bold justify-start font-serif text-3xl md:text-5xl {{ text_color }}">
				This is The <em>Persona Data Quiz</em>
			</h1>
			<h3 class="py-6 px-6 text-black font-serif"> Built By Breekar</h3>
			<div class="inline">
				<!--				<img src="static/kanye_donda.jpeg" class="filter grayscale rounded"/>-->

				<!--				<img src="static/kanye_float.jpeg" width="311" height="400" class="filter grayscale rounded"/>-->

			</div>

		</div>
		<div id="about container" class=" p-4 col-span-2 justify-center rounded-md">
			<h2 class=" text-black font-serif text-2xl">
				Hey there, supposed User
			</h2>


			<h3 class="text-black font-serif text-xl p-4">

				Welcome to Persona Data, a personality quiz where you can see how you relate to the world.
				<br>
				Please, log in or register if you haven't become a user yet.
				<br>
				Developed by Preeti Makaram and Srikar Ananthoju
			</h3>

			<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2 flex flex-col">


				<form id="login" action="{{ url_for('login') }}" method="post"></form>
				<form id="resetPassword" action="{{ url_for('resetPassword') }}" method="get"></form>

				<div class="mb-2">
					<label class="block text-grey-darker text-sm font-bold mb-2" for="username">
						Username
					</label>
					<input name="username" form="login"
						   class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
						   type="text" placeholder="Username">
				</div>
				<div class="mb-2">
					<label class="block text-grey-darker text-sm font-bold mb-2" for="password">
						Password
					</label>
					<input form="login"
						   class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
						   name="password" type="password" placeholder="******************">

				</div>
				<div class="flex items-center justify-between">
					<input form="login"
						   class="bg-blue-400 hover:bg-blue-600  text-black font-bold py-2 px-4 rounded"
						   type="submit" value="Sign In">
					<input form="resetPassword"
						   class="bg-red-400 hover:bg-red-600  text-black font-bold py-2 px-4 rounded"
						   type="submit" value="Forgot Password">
				</div>
			</div>

			<h2 class="p-4 text-lg font-serif"> Register here!</h2>

			<div id="registerContainer" class=" p-4 col-span-2 justify-center rounded-md">

				<div class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-2 flex flex-col">

					<form id="register" action="{{ url_for('register') }}" method="post"></form>
					<div class="mb-2">
						<label class="block text-grey-darker text-sm font-bold mb-2" for="username">
							Username
						</label>
						<input name="registerUsername" form="register"
							   class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
							   type="text" placeholder="Username">
					</div>
					<div class="mb-2">
						<label class="block text-grey-darker text-sm font-bold mb-2" for="password">
							Password
						</label>
						<input form="register"
							   class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
							   name="registerPassword" type="password" placeholder="******************">
					</div>
					<div class="mb-2">
						<label class="block text-grey-darker text-sm font-bold mb-1" for="country">
							Country
						</label>
						<input name="country" form="register"
							   class="shadow appearance-none border rounded w-full py-1 px-3 text-grey-darker"
							   type="text" placeholder="Enter Country">

					</div>
					<div class="mb-2">
						<label class="block text-grey-darker text-sm font-bold mb-1" for="city">
							City
						</label>
						<input name="city" form="register"
							   class="shadow appearance-none border rounded w-full py-1 px-3 text-grey-darker"
							   type="text" placeholder="Enter City">


					</div>
					<div class="mb-2">
						<label class="block text-grey-darker text-sm font-bold mb-1" for="continent">
							Continent
						</label>
						{#						<input name="continent" form="register"#}
						{#							   class="shadow appearance-none border rounded w-full py-1 px-3 text-grey-darker"#}
						{#							   type="text" placeholder="Enter Continent">#}

						<select form="register" name="continent" id="continent"
								class="shadow appearance-none border rounded w-full py-1 px-3 text-grey-darker">
							<option value="North America">North America</option>
							<option value="Europe">Europe</option>
							<option value="South America">South America</option>
							<option value="Africa">Africa</option>
							<option value="Asia">Asia</option>
							<option value="Antarctica">Antarctica</option>
							<option value="Australia">Australia</option>
						</select>
					</div>
					<div class="flex items-center justify-between">
						<input form="register"
							   class="bg-green-400 hover:bg-green-600  text-black font-bold py-2 px-4 rounded"
							   type="submit" value="Register">
					</div>


				</div>
			</div>
		</div>
	</div>
</body>
</html>